@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}
.custom-select {
  position: relative;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-right: 2.5rem; /* Adjust padding to make space for the chevron */
}

.custom-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  pointer-events: none;
}

body {
  font-family: "HarmonyOS", sans-serif;
}
/* src/fonts.css */
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Regular.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Light.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Medium.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Medium.ttf") format("woff");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS";
  src: url("/src/fonts/HarmonyOS_Sans_Bold.ttf") format("woff2"),
    url("/src/fonts/HarmonyOS_Sans_Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}
